#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
  background-color: #eed104;
}

.material-symbols-outlined:hover {
  background-color: #ffe100;

  color: white;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

body {
  display: flex;
  max-width: 800px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
}

Header {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

.header-div {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: 2rem;
  /* padding: 1.5em; */
}

.pill {
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
  background-color: #eed104;
  /* border: 1px solid grey; */
  font-size: 0.7rem;
}

/* Article List page */

.article-card {
  margin: 0;
  margin-bottom: 2rem;
  /* border: 1px solid grey; */
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.article-card-image {
  width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 5px;
  margin-right: 1rem;
}

.metadata {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.article-card-header {
  display: flex;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Article full */

.article-detail-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.article-detail {
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.article-detail-header {
  display: flex;
  padding: 1rem;
  border-radius: 5px;
}

.article-detail-title {
  margin-bottom: 1rem;
}

#article-detail-pills {
  margin-top: 1rem;
}

/* Comments */

.comment {
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.comment-body {
  margin-bottom: 1rem;
}

.vote-icon {
  height: 1rem;
}

.voting-div {
  display: flex;
  gap: 0.2rem;
  justify-content: flex-end;
  margin-top: 1rem;
  align-items: center;
}

.error-msg {
  display: flex;
  justify-content: flex-end;
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Form */

input {
  width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #eed104;
}

form {
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-bottom: 4rem;
  /* border: 1px solid #eed104; */
}

/* Button */

button {
  padding: 0.3rem 1rem;
  float: right;
  background-color: #eed104;
  border: 0;
  border-radius: 2px;
}

button:hover {
  background-color: #ffe100;
  color: white;
}

.input-and-button-div {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

#add-comment {
  display: inline-block;
}
