/* === Global Styles === */

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: 800px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* === Utility Classes === */

.pill {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: white;
  border: 0.5px solid #ffe100;
  font-size: 0.7rem;
  display: inline-block;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* === Header === */

header {
  margin: 2rem 0 4rem;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 3rem;
  margin-right: 2rem;
}

/* === Article Card === */

.article-card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 5px;
}

.article-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-image,
.article-detail-image {
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 5px;
}

.article-card-image {
  width: 100px;
  aspect-ratio: 1 / 1;
  margin-right: 1rem;
}

.article-detail-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;
}

/* === Voting === */

.voting-div {
  display: flex;
  gap: 0.2rem;
  justify-content: flex-end;
  margin-top: 1rem;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
}

.thumb-button {
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
  background-color: white;
  border: 0.5px solid #ffe100;
}

.thumb-button:hover {
  background-color: #ffe100;
}

/* === Comments === */

.comment {
  font-size: 0.9rem;
}

.comment-body {
  margin-bottom: 1rem;
}

.delete-div {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

.delete-message {
  margin: 1rem 0 1.5rem;
  color: red;
}

/* === Form === */

form {
  margin-bottom: 4rem;
}

.input-and-button-div {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ffe100;
  border-radius: 5px;
}

.input-and-button-div button,
button {
  padding: 0.3rem 1rem;
  background-color: white;
  border: 0.5px solid #ffe100;
  border-radius: 5px;
  align-items: center;
}

button:hover {
  background-color: #ffea61;
}

/* === Topics & Filter === */

.topic-button-outline,
.topic-button-fill {
  height: 32px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  display: block;
  border: 0.5px solid #ffe100;
  width: 100px;
  box-sizing: border-box;
}

.topic-button-fill {
  background-color: #ffe100;
}

.topic-button-outline:hover,
.topic-pill:hover {
  background-color: #ffea61;
}

@media (min-width: 800px) {
  .topic-button-outline,
  .topic-button-fill {
    width: 100%;
  }
}

.sort-section {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
  align-items: flex-end;
}

.drop-down-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.2rem;
}

.drop-down-container .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
}

.drop-down {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sort-arrow-span {
  padding: 0 0.4rem;
  display: flex;
  height: 31px;
  background-color: white;
  border: 0.5px solid #ffe100;
  border-radius: 5px;
  align-items: center;
}

.sort-arrow-span:hover {
  background-color: #ffea61;
}

.sort-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sort-div p {
  font-size: 0.9rem;
}

.topic-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.topic-section p,
label {
  font-size: 0.9rem;
}

.topic-pill-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filter {
  position: sticky;
  top: 0;
  background-color: #fff5b5;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 5px;
  padding: 1rem;
  gap: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

select {
  width: 120px;
  height: 32px;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: white;
  border: 0.5px solid #ffe100;
  font-size: 0.8rem;
  font-weight: bold;
  box-sizing: border-box;
  transition: 0.4s;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #ffe100;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  font-weight: normal;
  transition: 0.4s;
}

option:hover,
option:focus {
  background: #ffe100;
}
