#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  display: flex;
  max-width: 800px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
}

Header {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

.header-div {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: 2rem;
  /* padding: 1.5em; */
}

.pill {
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 25px;
  font-size: 0.8rem;
}

/* Article List page */

.article-card {
  margin: 0;
  margin-bottom: 2rem;
}

.article-image {
  width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
  /* border-radius: 5px; */
  margin-right: 1rem;
}

.article-card-metadata {
  display: flex;
  justify-content: space-between;
}

.article-card-header {
  display: flex;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 5px;
  /* align-items: center; */
}
